torch
torchvision
matplotlib
numpy
Pillow
requests
tqdm
scipy
gdown
seaborn
torchmetrics
torch-fidelity
einops
datasets
tqdm
gradio
imblearn
umap-learn
xgboost
catboost
scikit-learn
pytorch-lightning
ydata-profiling
hiplot
plotly
optuna